# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# C extensions
*.egg
*.egg-info/
dist/
build/
*.manifest
*.spec

# Virtual environments
venv/
.env/
.venv/
ENV/
env/

# Logs and debug
*.log
*.tmp

# VS Code, PyCharm, etc.
.vscode/
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Test cache
.pytest_cache/
.coverage
htmlcov/
.tox/

# Jupyter Notebook
.ipynb_checkpoints/

# MyPy
.mypy_cache/

# Profiling data
.prof
